html, body, #__nuxt {
    font-family: Tauri, sans-serif;
    min-height: 100vh;
}

.scale-to-screen {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    min-height: 100vh;
}

@media (min-width: 800px) {
    .scale-to-screen {
        width: 92vw;
        transform: scale(calc(100/92));
        min-height: 92vh;
    }
}

@media (min-width: 1000px) {
    .scale-to-screen {
        width: 72vw;
        transform: scale(calc(100/72));
        min-height: 72vh;
    }
}

@media (min-width: 1200px) {
    .scale-to-screen {
        width: 60vw;
        transform: scale(calc(100/60));
        min-height: 60vh;
    }
}

@media (min-width: 1600px) {
    .scale-to-screen {
        width: 45vw;
        transform: scale(calc(100/45));
        min-height: 45vh;
    }
}

@media (min-width: 2400px) {
    .scale-to-screen {
        width: 30vw;
        transform: scale(calc(100/30));
        min-height: 30vh;
    }
}

@media (min-width: 3600px) {
    .scale-to-screen {
        width: 20vw;
        transform: scale(calc(100/20));
        min-height: 20vh;
    }
}

@media (max-width: 600px) {
    .scale-to-screen {
        width: 125vw;
        transform: scale(calc(100/125));
        min-height: 125vh;
    }
}

@media (max-width: 400px) {
    .scale-to-screen {
        width: 140vw;
        transform: scale(calc(100/140));
        min-height: 140vh;
    }
}
