html {
    font-family: Tauri, sans-serif;
}

@media (min-width: 1000px) {
    .scale-to-screen {
        width: 75vw;
        transform: scale(1.3333);
        transform-origin: 0 0;
    }
}

@media (min-width: 1200px) {
    .scale-to-screen {
        width: 66.67vw;
        transform: scale(1.5);
        transform-origin: 0 0;
    }
}

@media (min-width: 1600px) {
    .scale-to-screen {
        width: 50vw;
        transform: scale(2);
        transform-origin: 0 0;
    }
}

@media (min-width: 2400px) {
    .scale-to-screen {
        width: 37vw;
        transform: scale(2.7);
        transform-origin: 0 0;
    }
}

@media (min-width: 3600px) {
    .scale-to-screen {
        width: 25vw;
        transform: scale(4);
        transform-origin: 0 0;
    }
}

@media (max-width: 600px) {
    .scale-to-screen {
        width: 125vw;
        transform: scale(0.8);
        transform-origin: 0 0;
    }
}

@media (max-width: 400px) {
    .scale-to-screen {
        width: 140vw;
        transform: scale(0.7143);
        transform-origin: 0 0;
    }
}
