html {
    font-family: Tauri, sans-serif;
}

.scale-to-screen {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

@media (min-width: 800px) {
    .scale-to-screen {
        width: 90vw;
        transform: scale(calc(100/90));
    }
}

@media (min-width: 1000px) {
    .scale-to-screen {
        width: 72vw;
        transform: scale(calc(100/72));
    }
}

@media (min-width: 1200px) {
    .scale-to-screen {
        width: 60vw;
        transform: scale(calc(100/60));
    }
}

@media (min-width: 1600px) {
    .scale-to-screen {
        width: 45vw;
        transform: scale(calc(100/45));
    }
}

@media (min-width: 2400px) {
    .scale-to-screen {
        width: 30vw;
        transform: scale(calc(100/30));
    }
}

@media (min-width: 3600px) {
    .scale-to-screen {
        width: 20vw;
        transform: scale(calc(100/20));
    }
}

@media (max-width: 600px) {
    .scale-to-screen {
        width: 125vw;
        transform: scale(calc(100/125));
    }
}

@media (max-width: 400px) {
    .scale-to-screen {
        width: 140vw;
        transform: scale(calc(100/140));
    }
}
