

.line--1, .line--C {
  background-color: #ffce00 !important;
  color: #25303b !important;
}
.line--2, .line--T1 {
  background-color: #0064b0 !important;
  border-color: #0064b0 !important;
  color: #ffffff !important;
}
.line--3, .line--K, .line--T8, .line--T10 {
  background-color: #9f9825 !important;
  border-color: #9f9825 !important;
  color: #ffffff !important;
}
.line--4, .line--E, .line--T2, .line--C4 {
  background-color: #c04191 !important;
  border-color: #c04191 !important;
  color: #ffffff !important;
}
.line--5, .line--P, .line--T3a, .line--T11 {
  background-color: #f28e42 !important;
  border-color: #f28e42 !important;
  color: #25303b !important;
}
.line--6, .line--7bis {
  background-color: #83c491 !important;
  color: #25303b !important;
}
.line--7, .line--16, .line--R {
  background-color: #f3a4ba !important;
  color: #25303b !important;
}
.line--8, .line--L {
  background-color: #ceadd2 !important;
  color: #25303b !important;
}
.line--9, .line--17, .line--J {
  background-color: #d5c900 !important;
  color: #25303b !important;
}
.line--10, .line--T4 {
  background-color: #e3b32a !important;
  border-color: #e3b32a !important;
  color: #25303b !important;
}
.line--11, .line--H, .line--T7, .line--T13 {
  background-color: #8d5e2a !important;
  border-color: #8d5e2a !important;
  color: #ffffff !important;
}
.line--12, .line--D, .line--T3b {
  background-color: #00814f !important;
  border-color: #00814f !important;
  color: #ffffff !important;
}
.line--13, .line--3bis {
  background-color: #98d4e2 !important;
  color: #25303b !important;
}
.line--14, .line--T5 {
  background-color: #662483 !important;
  border-color: #662483 !important;
  color: #ffffff !important;
}
.line--15, .line--U, .line--T12 {
  background-color: #b90845 !important;
  border-color: #b90845 !important;
  color: #ffffff !important;
}
.line--18, .line--N {
  background-color: #00a88f !important;
  color: #ffffff !important;
}
.line--20, .line--26, .line--27, .line--70, .line--82, .line--103, .line--105, .line--112, .line--127, .line--137, .line--139, .line--158, .line--165, .line--185, .line--189, .line--194, .line--234, .line--247, .line--269, .line--272, .line--299, .line--312, .line--356, .line--485, .line--499, .line--566, .line--577, .line--559c, .line--buseolien_2, .line--riverplaza {
  background-color: #ff5a00 !important;
  color: #25303b !important;
}
.line--21, .line--35, .line--64, .line--93, .line--114, .line--133, .line--167, .line--169, .line--177, .line--192, .line--215, .line--254, .line--308, .line--380, .line--574, .line--580, .line--593, .line--tuce, .line--tuc_vert, .line--v6 {
  background-color: #82dc73 !important;
  color: #25303b !important;
}
.line--22, .line--58, .line--61, .line--66, .line--115, .line--117, .line--123, .line--153, .line--160, .line--172, .line--174, .line--179, .line--319, .line--378, .line--421, .line--486, .line--520, .line--565, .line--v5, .line--v5_sup {
  background-color: #00643c !important;
  color: #ffffff !important;
}
.line--24, .line--39, .line--56, .line--94, .line--138, .line--145, .line--151, .line--157, .line--164, .line--182, .line--186, .line--195, .line--208, .line--220, .line--239, .line--244, .line--250, .line--262, .line--285, .line--289, .line--297, .line--347, .line--513, .line--208a, .line--208b, .line--traverse_bievre, .line--traverse_bievre_montsouris {
  background-color: #a0006e !important;
  color: #ffffff !important;
}
.line--25, .line--43, .line--60, .line--72, .line--86, .line--99, .line--104, .line--106, .line--113, .line--121, .line--140, .line--147, .line--152, .line--171, .line--183, .line--197, .line--216, .line--251, .line--252, .line--258, .line--261, .line--274, .line--276, .line--283, .line--352, .line--459, .line--orlybus, .line--roissybus, .line--v7 {
  background-color: #ff1400 !important;
  color: #ffffff !important;
}
.line--28, .line--45, .line--47, .line--67, .line--80, .line--107, .line--108, .line--124, .line--134, .line--150, .line--191, .line--203, .line--211, .line--221, .line--238, .line--263, .line--270, .line--292, .line--537, .line--l_audonienne, .line--v2 {
  background-color: #ff82b4 !important;
  color: #25303b !important;
}
.line--29, .line--40, .line--52, .line--54, .line--69, .line--89, .line--116, .line--126, .line--168, .line--170, .line--212, .line--322, .line--325, .line--348, .line--370, .line--390, .line--393, .line--399, .line--551, .line--559, .line--569, .line--584, .line--589, .line--592, .line--ligne_bleue, .line--p_tibus, .line--tim, .line--tuvim, .line--v5_inf {
  background-color: #82c8e6 !important;
  color: #25303b !important;
}
.line--30, .line--76, .line--87, .line--95, .line--97, .line--110, .line--132, .line--159, .line--166, .line--187, .line--217, .line--337, .line--350, .line--355, .line--394, .line--518, .line--524, .line--556, .line--562, .line--la_navette_-_le_bus_fontenaysien, .line--traverse_batignolles-bichat, .line--v4 {
  background-color: #640082 !important;
  color: #ffffff !important;
}
.line--31, .line--42, .line--68, .line--75, .line--83, .line--92, .line--101, .line--102, .line--119, .line--210, .line--235, .line--253, .line--260, .line--275, .line--302, .line--320, .line--321, .line--330, .line--334, .line--341, .line--367, .line--372, .line--379, .line--388, .line--487, .line--492, .line--512, .line--541, .line--545, .line--320a, .line--320b, .line--559a, .line--buseolien_1, .line--tuco_tuc_jaune {
  background-color: #ffbe00 !important;
  color: #25303b !important;
}
.line--32, .line--57, .line--129, .line--180, .line--213, .line--255, .line--291, .line--303, .line--467, .line--538, .line--bus_du_port {
  background-color: #6e6e00 !important;
  color: #ffffff !important;
}
.line--38, .line--48, .line--77, .line--98, .line--125, .line--143, .line--162, .line--173, .line--175, .line--178, .line--306, .line--318, .line--361, .line--366, .line--389, .line--395, .line--471, .line--488, .line--501, .line--526, .line--544, .line--564, .line--595, .line--208s, .line--pc, .line--PC, .line--autobus_suresnois, .line--traverse_charonne, .line--tvm, .line--TVM {
  background-color: #0055c8 !important;
  color: #ffffff !important;
}
.line--46, .line--63, .line--74, .line--88, .line--109, .line--199, .line--249, .line--301, .line--304, .line--310, .line--317, .line--323, .line--346, .line--353, .line--360, .line--368, .line--391, .line--396, .line--v3 {
  background-color: #d2d200 !important;
  color: #25303b !important;
}
.line--59, .line--91, .line--96, .line--118, .line--141, .line--163, .line--176, .line--184, .line--196, .line--207, .line--268, .line--281, .line--340, .line--351, .line--385, .line--582, .line--choisybus {
  background-color: #dc9600 !important;
  color: #25303b !important;
}
.line--62, .line--71, .line--73, .line--85, .line--128, .line--131, .line--148, .line--181, .line--190, .line--193, .line--201, .line--206, .line--241, .line--256, .line--382, .line--426, .line--546, .line--571, .line--737, .line--subb, .line--tub, .line--cameleon_t7 {
  background-color: #6e491e !important;
  color: #ffffff !important;
}
.line--84, .line--111, .line--120, .line--122, .line--144, .line--146, .line--188, .line--214, .line--237, .line--248, .line--278, .line--286, .line--290, .line--294, .line--515, .line--519, .line--559b, .line--traverse_ney-flandre, .line--tillbus {
  background-color: #d282be !important;
  color: #25303b !important;
}
.line--209 {
  background-color: #00b092 !important;
  color: #ffffff !important;
}
.line--259, .line--587, .line--la_navette_-_thiais {
  background-color: #3c91dc !important;
  color: #ffffff !important;
}
.line--502, .line--573, .line--curviabus, .line--Curviabus, .line--p_tit_bus, .line--le_p_tit_bus_du_pre {
  background-color: #a50034 !important;
  color: #ffffff !important;
}
.line--731, .line--cameleon_t1 {
  background-color: #003da5 !important;
  color: #ffffff !important;
}
.line--732, .line--cameleon_t2 {
  background-color: #c800a1 !important;
  color: #ffffff !important;
}
.line--733, .line--cameleon_t3a {
  background-color: #ff7f32 !important;
  color: #25303b !important;
}
.line--734, .line--cameleon_t3b {
  background-color: #007a53 !important;
  color: #ffffff !important;
}
.line--735, .line--cameleon_t5 {
  background-color: #5f249f !important;
  color: #ffffff !important;
}
.line--736, .line--cameleon_t6 {
  background-color: #da291c !important;
  color: #ffffff !important;
}
.line--738, .line--cameleon_t8 {
  background-color: #827a04 !important;
  color: #ffffff !important;
}
.line--tootbus_paris {
  background-color: #005eb8 !important;
  color: #25303b !important;
}
.line--A, .line--T6, .line--C2 {
  background-color: #e3051c !important;
  border-color: #e3051c !important;
  color: #ffffff !important;
}
.line--B, .line--T9, .line--C1 {
  background-color: #5291ce !important;
  border-color: #5291ce !important;
  color: #ffffff !important;
}
.line--ORLY_VAL {
  background-color: #4f7f9c !important;
  color: #25303b !important;
}
.line--TER {
  background-color: #034ea2 !important;
  color: #25303b !important;
}
.line--C3 {
  background-color: #00856f !important;
  color: #25303b !important;
}

.line--A, .line--B, .line--C, .line--D, .line--E {
  font-weight: bold !important;
  line-height: 1.55 !important;
  height: 34px !important;
  width: 34px !important;
  font-size: 1.46rem !important;
  padding: 0px 2px 0px 0px !important;
  justify-content: center;
}

.line--H, .line--J, .line--K, .line--L, .line--N, .line--P, .line--R, .line--U {
  font-weight: bold !important;
  line-height: 1.55 !important;
  height: 34px !important;
  width: 34px !important;
  font-size: 1.46rem !important;
  padding: 0 !important;
  justify-content: center;
}

.line--1, .line--2, .line--3, .line--4, .line--5, .line--6, .line--7, .line--8, .line--9, .line--10, .line--11, .line--12, .line--13, .line--14, .line--15, .line--16, .line--17, .line--18 {
  border-radius: 50% !important;
  line-height: 1.55 !important;
  font-weight: bold !important;
  height: 36px !important;
  width: 36px !important;
  font-size: 1.46rem !important;
  padding: 0 !important;
  justify-content: center;
}

.line--T1, .line--T2, .line--T3a, .line--T3b, .line--T4, .line--T5, .line--T6, .line--T7, .line--T8, .line--T9, .line--T10, .line--T11, .line--T12, .line--T13 {
  font-size: 1.35rem !important;
  line-height: 1.25 !important;
  height: 30px !important;
  font-weight: bold !important;
  border-top-width: 3px !important;
  border-bottom-width: 3px !important;
  color: #25303b !important;
  padding: 0 6px !important;
  justify-content: center;
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: white !important;
}